.scroll-progress-container {
  position: fixed;
  top: 0;
  right: 0;
  inset-inline-end: 0;
  width: 7px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;
  pointer-events: none; 
  touch-action: none;  
}

.scroll-progress-bar {
  width: 100%;
  background-color: #e74c3c;
  height: 0%;
  transition: height 0.6s ease-out;
  will-change: height;
}
