html, body {
  background-color: #1F1F1F;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.scroll-wrapper {
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;

  /* Скрытие встроенного скроллбара */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scroll-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}