html,
body {
  height: 100%;
  margin: 0;
  background: #111;
  font-family: Inter, system-ui, sans-serif;
  color: #eee;
  overflow-x: hidden; /* ← важно */

}

html {
  scroll-behavior: smooth; /* ← исправлено вместо .html */
  
}

.scroll-wrapper {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden; /* ← важно */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
}